---
import BaseLayout from '../../layouts/SingleProject.astro';
import getPostData from '../../utils/getPostData';
import CTA from '../../components/CTA.astro';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/project-posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;

const { title, description, publishDate, thumbnail, icons, boxes } = frontmatter
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}projects/${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="projects">
    

        <div class="relative z-20">
            <h1 class="text-5xl font-bold leading-tight text-left md:text-6xl lg:text-7xl xl:text-7xl xl:leading-tight">{title}</h1>
            <div class="flex flex-col mt-14 sm:flex-row sm:items-center">
           
            </div>
        </div>





      <section class="relative ">
      
          {(boxes ?? []).map((box, index) => (
  <div class=" mx-auto portfolioblocks pb-20 sm:flex gap-10">
      





            <div class="relative sm:w-1/2">
              <h2 class="mb-5 mt-10  flex  xl:mb-12 text-2xl leading-tight md:text-4xl md:leading-tight xl:text-5xl lg:leading-tight font-bold">
                {box.intro}
              </h2>
             
                {(box.content ?? []).map((item, itemIndex) => (
                  <div class={`mb-0 xl:pr-0 blockset ${itemIndex === box.content.length - 1 ? '' : ''}`}> 
                  
                  <div class="flex mb-6 ">
                        <svg class="w-8 h-8 -mt-0.5 flex-shrink-0 mr-3 xl:mr-5 bulletarrows" fill="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <div class="">
                            <h3 class="mb-2 -mt-1 text-xl md:text-2xl font-semibold">{item.title}</h3>
                            <p class=" leading-loose">{item.text}</p>
                        </div>
                    </div>
                          
                  </div>
                ))}
              
           
            </div>
            <div class=" sm:w-1/2">
                <img src={box.image} alt={box.intro} class="rounded-xl bg-gray-800 shadow-lg" />
            </div>
    </div>     
          ))}

<Content />


<CTA>




      </section>




    

  
  </div>


</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }

  @media only screen and (min-width: 1000px) {
   
  .portfolioblocks:nth-child(odd) {
    @apply flex-row-reverse;

  }
  }
 

  .portfolioblocks:nth-child(6) {
   @apply pb-0

  }
</style>
